.hero-section {
  display: flex;
  /* padding: 8rem; */
  /* padding-left: 9%;
  padding-right: 10%;
  margin-top: 10rem; */
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  /* height: 100vh; */
  gap: 5rem;
  /* height: 100%; */
}

/* .hero-section-left {
} */
.hero-section-heading {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--text-color);
}
.hero-span::after {
  content: "";
  width: 100%;
  background-color: var(--stroke);
  height: 8px;
  display: block;
  margin-top: -5px;
  position: absolute;
  left: 0;
}
.hero-span {
  color: var(--text-color);
  position: relative;
}

.get-started-btn-hero {
  padding: 12px 14px;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  border-radius: 15px;
  /* font-weight: 100; */
  /* border: 1.3px solid var(--subText-color); */
  background-color: var(--jasmine-bg);
  color: var(--text-color);
  transition: all 0.3s ease;
  border-style: none;
}
.get-started-btn-hero:hover {
  background-color: var(--text-color);
  cursor: pointer;
  color: var(--primary-bg);
}
.hero-section-right{
  position: relative;
  width: 40%;
  /* background-color: bisque; */
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /* z-index: 15; */
}
.cat{
  position: absolute;
  width: 40%;
  height: 40%;
  left: 40%;
  top: -35%;
  /* z-index: -100; */
  transition: all 400ms ease;
 
}
.cat:hover{
  transform: scaleX(1.1);
  /* z-index: -200; */
}
