* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #1c1833;
  --stroke: #55dcab;
  --subText-color: #a9a9a9;
  --text-color: #fff;
  --jasmine-bg: #a839ee;
}

.landing-page {
  background-color: var(--primary-bg);
  /* height: 100vh; */
}
