.convert-main {
  /* height: 100vh; */
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10%;

  &.dragging {
    background-color: #333;
    opacity: 0.5;
    border: 2px dashed #fff;
    animation: runningBorder 2s infinite linear;
  }
}
@keyframes runningBorder {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}

.file-box {
  display: flex;
  gap: 2rem;
  /* border: 1px soild green; */
  background-color: #333;
  padding: 1rem;
  width: 80vw;
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  /* align-items: center; */
  justify-content: center;
}

.each-file {
  width: 200px;
  height: 300px;
  background-color: red;
  color: white;
  cursor: move;
  user-select: none;
}
