.convert-main {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  height: 100vh;
  padding-bottom: 5%;
  gap: 0.7rem;

  &.dragging {
    background-color: #333;
    opacity: 0.5;
    border: 2px dashed #fff;
    animation: runningBorder 2s infinite linear;
  }
}
@keyframes runningBorder {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}

.file-box {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  width: 80vw;
  overflow-x: scroll;
  justify-content: center;
}

.selected-image-container {
  display: flex;
  
  width: 20%;
  flex-direction: column;
  gap:0.5rem;
  justify-content: center;
  align-items: center;
}
.close-icon{
  position: absolute;
  right: 5px;
  top: 5px;
}

.each-file {
  position: relative;
  padding: 15%;
  background-color: white;
  cursor: move;
  user-select: none;
  border-radius: 10px;
}
.each-file-bg{
  width: 70px;
  height: 100px;
   background: url("../../assets/jpg.png");
  background-size: cover;
  background-position: center;
}

.add-files-btn{
  padding: 15px 15px;
  /* margin-top: 1.5rem; */
  /* font-size: 1.5rem; */
  font-weight: 600;
  border-radius: 15px;
  background-color: var(--jasmine-bg);
  color: var(--text-color);
  transition: all 0.3s ease;
  border-style: none;
}

.add-files-btn:hover{
  background-color: var(--text-color);
  cursor: pointer;
  color: var(--primary-bg);
}

.jpg-to-pdf-convert-btn {
  padding: 1.5rem 3rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 15px;
  background-color: var(--jasmine-bg);
  color: var(--text-color);
  transition: all 0.3s ease;
  border-style: none;
}
.jpg-to-pdf-convert-btn:hover {
  background-color: var(--text-color);
  cursor: pointer;
  color: var(--primary-bg);
}
.convert-heading {
  font-size: 2.6rem;
  opacity: 0.8;
}
.convert-sub-heading {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.7;
}
.convert-button {
  position: absolute;
  right: 5%;
  bottom: 15%;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 15px;
  animation: glowing 2s infinite;
  transition: all 0.3s ease;
  border-style: none;
  box-shadow: 0 0 5px var(--jasmine-bg), 0 0 25px var(--jasmine-bg)
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px var(--jasmine-bg), 0 0 15px var(--jasmine-bg);
  }
  50% {
    box-shadow: 0 0 10px var(--jasmine-bg), 0 0 75px var(--jasmine-bg);
  }
  100% {
    box-shadow: 0 0 5px var(--jasmine-bg), 0 0 15px var(--jasmine-bg);
  }
}
.convert-button:hover {
  background-color: var(--text-color);
  cursor: pointer;
  color: var(--primary-bg);
}
